/bucket/adb.json
/bucket/aliyun-cli.json
/bucket/android-studio.json
/bucket/brook.json
/bucket/chromium.json
/bucket/claude.json
/bucket/claude-code.json
/bucket/codex.json
/bucket/composer.json
/bucket/DataGrip.json
/bucket/ddns-go.json
/bucket/diskgenius.json
/bucket/elasticsearch.json
/bucket/erlang.json
/bucket/frp.json
/bucket/gcc.json
/bucket/go118.json
/bucket/go121.json
/bucket/GoLand.json
/bucket/gradle.json
/bucket/guipropview.json
/bucket/hbuilderx.json
/bucket/IntelliJ-IDEA.json
/bucket/kodo-browser.json
/bucket/mongodb.json
/bucket/mosquitto.json
/bucket/mysql57.json
/bucket/NatTypeTester.json
/bucket/nginx.json
/bucket/nodejs.json
/bucket/nodejs16.json
/bucket/opencode-desktop.json
/bucket/oss-browser.json
/bucket/ovftool.json
/bucket/pdf-xchange-editor.json
/bucket/php73.json
/bucket/php73-xdebug.json
/bucket/PhpStorm.json
/bucket/picpick.json
/bucket/postman.json
/bucket/protobuf.json
/bucket/pycharm.json
/bucket/PyCharm2021.json
/bucket/python27.json
/bucket/python311.json
/bucket/python37.json
/bucket/python38.json
/bucket/rabbitmq.json
/bucket/redis.json
/bucket/sing-box.json
/bucket/sourcetree.json
/bucket/sqlitebrowser.json
/bucket/supervisord.json
/bucket/v2ray.json
/bucket/vcredist2005.json
/bucket/vcredist2008.json
/bucket/vcredist2010.json
/bucket/vcredist2012.json
/bucket/vcredist2013.json
/bucket/vcredist2022.json
/bucket/virt-viewer.json
/bucket/WebStorm.json
/bucket/winsw.json
/bucket/xpra.json
/bucket/xray.json
/bucket/yarn.json
